.App {
  .content {
    min-height: 55vh;
    /*background: url("/img/background-mist.jpg");*/
    background: url("https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.CDr_SlBrNymTKfbleckFYwHaE7%26pid%3DApi&f=1");
    background-size: cover;
  }
}
